commands:
  01_cleanup_unused_images:
    command: "docker image prune -f"
    cron: "0 0 * * *"
  02_cleanup_unused_containers:
    command: "docker container prune -f"
    cron: "0 0 * * *"
  03_cleanup_unused_volumes:
    command: "docker volume prune -f"
    cron: "0 0 * * *"
  04_cleanup_unused_networks:
    command: "docker network prune -f"
    cron: "0 0 * * *"
