.calendar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.calendar-title {
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; 
}

.calendar-header {
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.calendar-nav-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
}

.calendar-day {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.day-number {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.journal-link,
.schedule-link {
  display: block;
  text-decoration: none;
  color: #e361c0;
}

.journal-link:hover,
.schedule-link:hover {
  font-weight: bold;
}

.empty-day {
  padding: 20px;
}

.current-day {
  background-color: #f4c8e9;
}

.nav-button {
  background-color: #f4c8e9;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.nav-button:hover {
  background-color: #135cb5;
}

.current-month-button {
  margin: 0;
}
