.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ddf3e6;
  border: 1px solid #2abe6a;
  margin-bottom: 20px;
}

.app-title {
  display: flex;
  align-items: flex-end;  /* Align items at the bottom */
  font-size: 30px;
  font-weight: bold;
}

.header-icon {
  width: 30px;  /* Adjust the size as needed */
  height: 30px;
  margin-left: 10px;  /* Space between the title and the icon */
}

.logout-button {
  font-size: 13px;
  background-color: #2abe6a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #2aab5c;
  font-weight: bold;
}

.welcome-message {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.calendar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  max-width: 1200px;
  margin-bottom: 40px;
}

.calendar-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #c2f2d6;
  width: 100%;
  border: 1px solid #2abe6a;
  margin-bottom: 0;
}

.calendar-header h2 {
  margin: 0;
}

.calendar-nav-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.calendar-day {
  text-align: center;
  padding: 20px;
  border: 1px solid #2abe6a;
  box-sizing: border-box;
}

.day-number {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.journal-link,
.schedule-link {
  display: block;
  text-decoration: none;
  color: #333;
}

.journal-link:hover,
.schedule-link:hover {
  font-weight: bold;
  border: 2px solid #2aab5c;
  padding: 2px 5px;
  border-radius: 3px;
}

.empty-day {
  padding: 20px;
}

.current-day {
  background-color: #ddf3e6;
}

.nav-button {
  background-color: #2abe6a;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 13px;
}

.nav-button:hover {
  background-color: #2aab5c;
  font-weight: bold;
}

.current-month-button {
  margin: 0;
}
