.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
  text-align: center;
  padding-top: 100px; 
}

.landing-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.landing-buttons {
  display: flex;
  gap: 10px;
}

.landing-button {
  background-color: #307ad5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.landing-button:hover {
  background-color: #135cb5;
}
