.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  max-width: 1200px;
  margin: 20px auto; 
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.register-container label {
  margin-bottom: 5px;
}

.register-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
}

.register-container button {
  background-color: #307ad5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  align-self: center; 
  font-size: 16px;
}

.register-container button:hover {
  background-color: #135cb5;
  font-weight: bold;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link a {
  color: #d88ec6;
  text-decoration: none;
}

.login-link a:hover {
  font-weight: bold;
  border: 1px solid #d88ec6;
  padding: 2px 5px;
  border-radius: 3px;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}