.schedule-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ddf3e6;
  border-bottom: 1px solid #2abe6a;
  border: 1px solid #2abe6a;
  max-width: 1200px;
  margin-bottom: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  font-weight: bold;
}

.header-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.logout-button, .back-button {
  background-color: #2abe6a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.logout-button:hover, .back-button:hover {
  background-color: #2aab5c;
  font-weight: bold;
}

.content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  border: 1px solid #2abe6a;
  background-color: #ddf3e6;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.instruction-text {
  font-size: 16px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #555;
}

.schedule-grid {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  position: relative;
}

.schedule-times {
  display: flex;
  flex-direction: column;
  width: 20%; /* Adjusted width */
}

.schedule-tasks {
  display: flex;
  flex-direction: column;
  width: 80%; /* Adjusted width */
  position: relative;
}

.schedule-time, .schedule-task-container {
  height: 80px; /* Each hour divided into four 20px sections */
  border: 1px solid #2abe6a;
  display: flex;
  flex-direction: column;
}

.schedule-time {
  background-color: #a4e6c1;
  color: #333;
  justify-content: center;
}

.time-divider {
  flex: 1;
  border-top: 1px solid #2abe6a;
}

.schedule-task {
  background-color: #ffff;
  cursor: pointer;
  color: #333;
  width: 100%;
  height: 100%; /* Ensure it spans the full height */
}

.schedule-task:hover {
  background-color: #ddf3e6;
}

.task-block {
  background-color: #c2f2d6; /* Different background for blocked tasks */
  padding: 10px;
  border: 1px solid #2abe6a;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Position absolute to align within the grid */
  width: 100%;
  left: 0;
}

.task-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e7f8ee;
  padding: 25px;
  width: 60%;
  max-width: 450px;
  height: 45%;
  border: 1px solid #2abe6a;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.task-modal-title {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  color: #333;
}

.task-textarea {
  width: 100%;
  height: 60%;
  padding: 10px;
  border: 1px solid #2abe6a;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: none;
  font-size: 15px;
}

.time-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time-input {
  width: 45%;
  padding: 5px;
  border: 1px solid #2abe6a;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.save-button, .delete-button, .close-button {
  background-color: #2abe6a;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
}

.save-button:hover, .delete-button:hover, .close-button:hover {
  background-color: #2aab5c;
  font-weight: bold;
}

.save-button:disabled,
.delete-button:disabled,
.close-button:disabled,
.logout-button:disabled,
.back-button:disabled {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
  font-weight: normal;
}

.save-button:not(:disabled):hover,
.delete-button:not(:disabled):hover,
.close-button:not(:disabled):hover,
.logout-button:not(:disabled):hover,
.back-button:not(:disabled):hover {
  background-color: #2aab5c;
  font-weight: bold;
  cursor: pointer;
}
